In [39]:
import pandas as pd

fundamental_df = pd.read_csv("../data/raw/enriched.csv")  # from notebooks/ to data/
display(fundamental_df)


time_series_df = pd.read_csv("../data/raw/df_results.csv")  # from notebooks/ to data/
display(time_series_df)

,Ticker,DCF Market Cap (B),DDM Market Cap (B),Multiples Market Cap (B),Median Market Cap (B),Current Price,Forecast Price (30d),Forecast Change (%),Current Market Cap (B),Forecast Market Cap (B),Sector,Buy?
0,A,38.82,5.85,22.21,22.210,114.620003,114.60,-0.02,32.559530,32.553848,Healthcare,No
1,AA,10.84,0.98,20.42,10.840,30.170000,30.11,-0.20,7.811466,7.795931,Basic Materials,Yes
2,AAL,431.02,NaN,22.96,226.990,11.620000,11.62,0.00,7.667213,7.667213,Industrials,Yes
3,AAON,5.85,0.72,2.66,2.660,80.519997,80.60,0.10,6.551598,6.558107,Industrials,No
4,AAP,-14.34,1.89,0.70,0.700,59.080002,58.94,-0.24,3.540404,3.532015,Consumer Cyclical,No
...,...,...,...,...,...,...,...,...,...,...,...,...
609,WU,-0.48,14.15,7.13,7.130,8.040000,8.04,0.00,2.596655,2.596655,Financial Services,Yes
610,WWD,8.15,1.09,5.03,5.030,248.449997,248.35,-0.04,14.898602,14.892606,Industrials,No
611,WY,NaN,9.72,5.89,7.805,25.480000,25.47,-0.04,18.384099,18.376885,Real Estate,No
612,WYNN,68.06,2.22,10.27,10.270,106.410004,106.42,0.01,11.064193,11.065232,Consumer Cyclical,No
613,XRAY,36.48,3.54,6.18,6.180,12.960000,12.98,0.15,2.585313,2.589302,Healthcare,Yes

,Ticker,Cumulative Return,Annualized Return,Annualized Volatility,Sharpe Ratio,Forecast Price (30d),Current Price,Forecast Change (%),Current Market Cap (B),Forecast Market Cap (B)
0,TXG,-0.9238,-0.4081,0.6912,-0.59,12.25,12.290000,-0.33,1.513317,1.360889
1,MMM,0.0680,0.0581,0.2912,0.20,153.09,153.300003,-0.14,81.652187,81.540329
2,AOS,0.0660,0.0544,0.2777,0.20,70.82,70.830002,-0.01,9.925408,8.091893
3,AAON,0.7786,0.2311,0.4123,0.56,80.60,80.519997,0.10,6.551598,6.558107
4,ABT,0.1778,0.0653,0.2195,0.30,134.14,134.279999,-0.10,233.708978,233.465309
...,...,...,...,...,...,...,...,...,...,...
609,WOLF,-0.9839,-0.2230,1.3118,-0.17,1.48,1.480000,-0.00,0.230328,0.230328
610,WWD,1.1693,0.2420,0.3057,0.79,248.35,248.449997,-0.04,14.898602,14.892606
611,WDAY,-0.0563,0.0568,0.3790,0.15,222.21,222.070007,0.06,59.202974,47.941584
612,WH,0.2661,0.1029,0.2957,0.35,83.96,83.959999,0.00,6.410867,6.410867
613,WYNN,0.1214,0.1206,0.4300,0.28,106.42,106.410004,0.01,11.064193,11.065232

In [6]:
time_series_df.isna().sum()

Ticker                     0
Cumulative Return          0
Annualized Return          0
Annualized Volatility      0
Sharpe Ratio               0
Forecast Price (30d)       1
Current Price              2
Forecast Change (%)        3
Current Market Cap (B)     0
Forecast Market Cap (B)    1
dtype: int64

In [10]:
time_series_df.duplicated().sum()

np.int64(0)

In [11]:
fundamental_df.isna().sum()

Ticker                        0
DCF Market Cap (B)          146
DDM Market Cap (B)          196
Multiples Market Cap (B)     49
Median Market Cap (B)         5
Current Price                 2
Forecast Price (30d)          1
Forecast Change (%)           3
Current Market Cap (B)        0
Forecast Market Cap (B)       1
Sector                        1
Buy?                          0
dtype: int64

In [12]:
fundamental_df.duplicated().sum()

np.int64(0)

In [14]:
fundamental_clean = fundamental_df.dropna()

In [16]:
fundamental_clean.shape

(314, 12)

In [17]:
fundamental_clean.isna().sum()

Ticker                      0
DCF Market Cap (B)          0
DDM Market Cap (B)          0
Multiples Market Cap (B)    0
Median Market Cap (B)       0
Current Price               0
Forecast Price (30d)        0
Forecast Change (%)         0
Current Market Cap (B)      0
Forecast Market Cap (B)     0
Sector                      0
Buy?                        0
dtype: int64

In [19]:
# make a clean, unique set of valid tickers from fundamental_clean
valid = set(
    fundamental_clean['Ticker']
    .dropna()
    .astype(str).str.strip().str.upper()
    .unique()
)

# align df_results to those tickers
time_series_df['Ticker'] = time_series_df['Ticker'].astype(str).str.strip().str.upper()
time_series_aligned = time_series_df[time_series_df['Ticker'].isin(valid)].copy()

In [20]:
time_series_aligned.isna().sum()

Ticker                     0
Cumulative Return          0
Annualized Return          0
Annualized Volatility      0
Sharpe Ratio               0
Forecast Price (30d)       0
Current Price              0
Forecast Change (%)        0
Current Market Cap (B)     0
Forecast Market Cap (B)    0
dtype: int64

In [21]:
time_series_aligned.shape

(314, 10)

In [22]:
time_series_aligned.columns

Index(['Ticker', 'Cumulative Return', 'Annualized Return',
       'Annualized Volatility', 'Sharpe Ratio', 'Forecast Price (30d)',
       'Current Price', 'Forecast Change (%)', 'Current Market Cap (B)',
       'Forecast Market Cap (B)'],
      dtype='object')

In [24]:
time_series_aligned.columns = ['ticker', 'cumulative_return', 'annualized_return',
       'annualized_volatility', 'sharpe_ratio', 'forecast_price_30d',
       'current_price', 'forecast_change_%', 'current_market_cap_B',
       'forecast_market_cap_B']
time_series_aligned.columns

Index(['ticker', 'cumulative_return', 'annualized_return',
       'annualized_volatility', 'sharpe_ratio', 'forecast_price_30d',
       'current_price', 'forecast_change_%', 'current_market_cap_B',
       'forecast_market_cap_B'],
      dtype='object')

In [25]:
fundamental_clean.columns

Index(['Ticker', 'DCF Market Cap (B)', 'DDM Market Cap (B)',
       'Multiples Market Cap (B)', 'Median Market Cap (B)', 'Current Price',
       'Forecast Price (30d)', 'Forecast Change (%)', 'Current Market Cap (B)',
       'Forecast Market Cap (B)', 'Sector', 'Buy?'],
      dtype='object')

In [26]:
fundamental_clean.columns = ['ticker', 'dcf_market_cap_B', 'ddm_market_cap_B',
       'multiples_market_cap_B', 'median_market_cap_B', 'current_price',
       'forecast_price_30d', 'forecast_change_%', 'current_market_cap_B',
       'forecast_market_cap_B', 'sector', 'buy?']
fundamental_clean.columns

Index(['ticker', 'dcf_market_cap_B', 'ddm_market_cap_B',
       'multiples_market_cap_B', 'median_market_cap_B', 'current_price',
       'forecast_price_30d', 'forecast_change_%', 'current_market_cap_B',
       'forecast_market_cap_B', 'sector', 'buy?'],
      dtype='object')

In [27]:
fundamental_clean.dtypes

ticker                     object
dcf_market_cap_B          float64
ddm_market_cap_B          float64
multiples_market_cap_B    float64
median_market_cap_B       float64
current_price             float64
forecast_price_30d        float64
forecast_change_%         float64
current_market_cap_B      float64
forecast_market_cap_B     float64
sector                     object
buy?                       object
dtype: object

In [29]:
time_series_aligned.dtypes

ticker                    object
cumulative_return        float64
annualized_return        float64
annualized_volatility    float64
sharpe_ratio             float64
forecast_price_30d       float64
current_price            float64
forecast_change_%        float64
current_market_cap_B     float64
forecast_market_cap_B    float64
dtype: object

In [30]:
time_series_aligned.to_csv("time_series_aligned.csv", index=False)
fundamental_clean.to_csv("fundamental_clean.csv", index=False)

In [31]:
import pandas as pd
import numpy as np

# --- 0) Start from your existing DFs ---
fc_raw = fundamental_clean.copy()
ts_raw = time_series_aligned.copy()

# --- 1) Normalize names used across tables (just _B -> _b) ---
rename_map = {
    'dcf_market_cap_B': 'dcf_market_cap_b',
    'ddm_market_cap_B': 'ddm_market_cap_b',
    'multiples_market_cap_B': 'multiples_market_cap_b',
    'median_market_cap_B': 'median_market_cap_b',
    'current_market_cap_B': 'current_market_cap_b',
    'forecast_market_cap_B': 'forecast_market_cap_b',
}
fc = fc_raw.rename(columns=rename_map)
ts = ts_raw.rename(columns=rename_map)

# Ticker hygiene
for df in (fc, ts):
    df['ticker'] = df['ticker'].astype(str).str.upper().str.strip()

# --- 2) BASIC_INFO ---
basic_info = (
    fc[['ticker', 'current_market_cap_b', 'current_price', 'sector']]
    .drop_duplicates('ticker')
    .sort_values('ticker')
    .reset_index(drop=True)
)

# ensure types
for col in ['current_market_cap_b', 'current_price']:
    basic_info[col] = pd.to_numeric(basic_info[col], errors='coerce')

# --- 3) FUNDAMENTAL + ID ---
fundamental = (
    fc[['ticker', 'multiples_market_cap_b', 'ddm_market_cap_b',
        'dcf_market_cap_b', 'median_market_cap_b', 'buy?']]
    .drop_duplicates('ticker')
    .sort_values('ticker')
    .reset_index(drop=True)
)

# numeric cols
for col in ['multiples_market_cap_b', 'ddm_market_cap_b', 'dcf_market_cap_b', 'median_market_cap_b']:
    fundamental[col] = pd.to_numeric(fundamental[col], errors='coerce')

# buy? -> boolean (handles yes/no/true/false/1/0, otherwise NA)
def _to_bool(x):
    if pd.isna(x): return pd.NA
    s = str(x).strip().lower()
    if s in {'yes','true','1','y','t'}: return True
    if s in {'no','false','0','n','f'}: return False
    return pd.NA

fundamental['buy?'] = fundamental['buy?'].apply(_to_bool).astype('boolean')

# add surrogate key
fundamental.insert(1, 'fundamental_id', range(1, len(fundamental) + 1))

# --- 4) FORECAST + ID ---
forecast = (
    fc[['ticker', 'forecast_price_30d', 'forecast_market_cap_b', 'forecast_change_%']]
    .drop_duplicates('ticker')
    .sort_values('ticker')
    .reset_index(drop=True)
)

for col in ['forecast_price_30d', 'forecast_market_cap_b', 'forecast_change_%']:
    forecast[col] = pd.to_numeric(forecast[col], errors='coerce')

forecast.insert(1, 'forecast_id', range(1, len(forecast) + 1))

# --- 5) RISK + ID (aligned to basic_info tickers) ---
risk = (
    ts[['ticker', 'cumulative_return', 'annualized_return', 'annualized_volatility', 'sharpe_ratio']]
    .drop_duplicates('ticker')
)
# keep only tickers we have in basic_info to maintain 1:1
risk = risk[risk['ticker'].isin(basic_info['ticker'])].sort_values('ticker').reset_index(drop=True)

for col in ['cumulative_return', 'annualized_return', 'annualized_volatility', 'sharpe_ratio']:
    risk[col] = pd.to_numeric(risk[col], errors='coerce')

risk.insert(1, 'risk_id', range(1, len(risk) + 1))

In [32]:
fundamental

,ticker,fundamental_id,multiples_market_cap_b,ddm_market_cap_b,dcf_market_cap_b,median_market_cap_b,buy?
0,A,1,22.21,5.85,38.82,22.21,False
1,AA,2,20.42,0.98,10.84,10.84,True
2,AAON,3,2.66,0.72,5.85,2.66,False
3,AAP,4,0.70,1.89,-14.34,0.70,False
4,AAPL,5,2050.77,591.49,1775.33,1775.33,False
...,...,...,...,...,...,...,...
309,WTW,310,21.48,15.33,-20.10,15.33,False
310,WU,311,7.13,14.15,-0.48,7.13,True
311,WWD,312,5.03,1.09,8.15,5.03,False
312,WYNN,313,10.27,2.22,68.06,10.27,False
313,XRAY,314,6.18,3.54,36.48,6.18,True

In [33]:
risk

,ticker,risk_id,cumulative_return,annualized_return,annualized_volatility,sharpe_ratio
0,A,1,-0.2550,-0.0302,0.2966,-0.10
1,AA,2,-0.3047,0.0662,0.5617,0.12
2,AAON,3,0.7786,0.2311,0.4123,0.56
3,AAP,4,-0.6878,-0.1511,0.5408,-0.28
4,AAPL,5,0.5717,0.1550,0.2879,0.54
...,...,...,...,...,...,...
309,WTW,310,0.5648,0.1373,0.2215,0.62
310,WU,311,-0.5190,-0.1431,0.2859,-0.50
311,WWD,312,1.1693,0.2420,0.3057,0.79
312,WYNN,313,0.1214,0.1206,0.4300,0.28
313,XRAY,314,-0.7622,-0.2941,0.3600,-0.82

In [34]:
forecast

,ticker,forecast_id,forecast_price_30d,forecast_market_cap_b,forecast_change_%
0,A,1,114.60,32.553848,-0.02
1,AA,2,30.11,7.795931,-0.20
2,AAON,3,80.60,6.558107,0.10
3,AAP,4,58.94,3.532015,-0.24
4,AAPL,5,227.27,3372.777679,-0.91
...,...,...,...,...,...
309,WTW,310,327.18,31.915755,-0.20
310,WU,311,8.04,2.596655,0.00
311,WWD,312,248.35,14.892606,-0.04
312,WYNN,313,106.42,11.065232,0.01
313,XRAY,314,12.98,2.589302,0.15

In [35]:
fundamental.to_csv("fundamental.csv", index=False)
risk.to_csv("risk.csv", index=False)
forecast.to_csv("forecast.csv", index=False)

In [36]:
fundamental['buy?'] = fundamental['buy?'].astype(int)

In [37]:
fundamental

,ticker,fundamental_id,multiples_market_cap_b,ddm_market_cap_b,dcf_market_cap_b,median_market_cap_b,buy?
0,A,1,22.21,5.85,38.82,22.21,0
1,AA,2,20.42,0.98,10.84,10.84,1
2,AAON,3,2.66,0.72,5.85,2.66,0
3,AAP,4,0.70,1.89,-14.34,0.70,0
4,AAPL,5,2050.77,591.49,1775.33,1775.33,0
...,...,...,...,...,...,...,...
309,WTW,310,21.48,15.33,-20.10,15.33,0
310,WU,311,7.13,14.15,-0.48,7.13,1
311,WWD,312,5.03,1.09,8.15,5.03,0
312,WYNN,313,10.27,2.22,68.06,10.27,0
313,XRAY,314,6.18,3.54,36.48,6.18,1

In [38]:
fundamental.to_csv("fundamental.csv", index=False)